**/__pycache__/**
.nix-venv
.env
.hypothesis/
.coverage
.pytest_cache
.vscode
.history
.idea
.mypy_cache

*private_key*
keys.json

agent/
service/

packages/asiyaasha/customs/simple_svelte
packages/eightballer/customs/simple_html
packages/eightballer/customs/simple_react
packages/eightballer/protocols/http
packages/eightballer/protocols/websockets
packages/open_aea/protocols/signing
packages/valory/protocols/abci
packages/valory/protocols/acn
packages/valory/protocols/contract_api
packages/valory/protocols/http
packages/valory/protocols/ipfs
packages/valory/protocols/ledger_api
packages/valory/protocols/tendermint
packages/eightballer/protocols/default
packages/eightballer/protocols/prometheus
packages/valory/contracts/agent_registry
packages/valory/contracts/erc20
packages/valory/contracts/gnosis_safe
packages/valory/contracts/gnosis_safe_proxy_factory
packages/valory/contracts/service_registry
packages/eightballer/connections/http_client
packages/eightballer/connections/http_server
packages/eightballer/connections/websocket_server
packages/valory/connections/abci
packages/valory/connections/http_client
packages/valory/connections/ipfs
packages/valory/connections/ledger
packages/valory/connections/p2p_libp2p_client
packages/eightballer/connections/prometheus
packages/eightballer/skills/reset_pause_abci
packages/eightballer/skills/trader_abci
packages/eightballer/skills/ui_loader_abci
packages/valory/skills/abstract_abci
packages/valory/skills/abstract_round_abci
packages/valory/skills/registration_abci
packages/eightballer/skills/metrics
packages/eightballer/skills/prometheus.DS_Store

/third_party/agent_runnernode_modules
/third_party/agent_runner/build
/third_party/agent_runner/.svelte-kit
/third_party/agent_runner/package
/third_party/agent_runner/.env
/third_party/agent_runner/./env.*
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
.*
!.gitignore
!.dockerignore

__pycache__
/third_party/redis2ws/target
